<?xml version="1.0" encoding="utf-8" ?>
<WebElements>
  <LoginPage>
      <add key="ApplicationURL" value="https://prod.sampletest.com"/>
      <add key="btnHeaderSignIn" value="signup" />
      <add key="txtUserName" value="userid_inputtext" />
      <add key="txtPassword" value="password_inputtext" />
      <add key="btnSignin" value="sign_in_button" />
      <add key="textMessage" value="sign out"/>
  </LoginPage>
  <SamplePage>
      <add key="btnCreateUser_id" value="createUser"/>
      <add key="txtEmailID_id" value="Email"/>
      <add key="txtPassword_id" value="password"/>
      <add key="FirstName" value="Bill"/>
      <add key="LastName" value="Rogers"/>
      <add key="CountryCode" value="US"/>
      <add key="PhoneNumber" value="12345678901"/>
      <add key="ConfirmationText" value="555555"/>
    </SamplePage>
</WebElements>